$base-green: #5caf71;

.App {
  background-color: $base-green;
  min-width: 100vw;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  width: 95vw;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@mixin basic-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 0.5vw;
  border-radius: 1vw;
  background-color: rgba(white, 0.4) !important;
}
.schedule {
  min-width: 85%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;

  background-color: rgba(white, 0);
  border-radius: 1vw;

  .divcontainer {
    @include basic-container;
    h1 {
      text-align: center;
    }
  }

  .fixtures {
    @include basic-container;

    h1 {
      text-align: center;
    }
  }
}
