$base-green: #5caf71;

.App {
  background-color: $base-green;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.schedule {
  min-width: 80%;

  display: flex;
  justify-content: space-around;
  flex-flow: wrap;

  background-color: rgba(white, 0.384);
  border-radius: 1vw;

  .divcontainer {
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 0.5vw;
    border-radius: 1vw;
    background-color: rgba(white, 0.5);
    h1 {
      text-align: center;
    }
    .divtable {
      td {
        padding: 0.5vh;
      }
      
    }
  }

  .fixtures {
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 0.5vw;
    border-radius: 1vw;
    background-color: rgba(white, 0.5);

    h1 {
      text-align: center;
    }
    td {
      padding: 0.5vh;
    }

    .fixHome,
    .fixAway {
      text-align: left;
    }
    .fixScore {
      text-align: center;
    }
  }
}
